///////////////////
// GRID UTLITIES //
///////////////////

//---------------------//
//-- Setup MQ Packer --//
//---------------------//

  #breakpoint-detect{
    @include position(fixed, rem(-1000) null null rem(-1000));
    font-size: 0;
    opacity  : 0;

    &:after{
      content: 'small';

      @include media($medium-screen-up){
        content: 'medium';
      }

      @include media($large-screen-up){
        content: 'large';
      }

      @include media($xlarge-screen-up){
        content: 'xlarge';
      }

    }

  }