//////////////////////
// SPACING UTLITIES //
//////////////////////

//-------------//
//-- MARGINS --//
//-------------//

  %margin{

    //-- Box --//
    &-box{
      margin: $spacing-regular;

      &-l{
        margin: $spacing-large;
      }

      &-s{
        margin: $spacing-small;
      }

    }

    //-- Horizontal --//
    &-x{
      margin-left : $spacing-regular;
      margin-right: $spacing-regular;

      &-l{
        margin-left : $spacing-large;
        margin-right: $spacing-large;
      }

      &-s{
        margin-left : $spacing-small;
        margin-right: $spacing-small;
      }

    }

    //-- Vertical --//
    &-y{
      margin-bottom: $spacing-regular;
      margin-top   : $spacing-regular;

      &-l{
        margin-bottom: $spacing-large;
        margin-top   : $spacing-large;
      }

      &-s{
        margin-bottom: $spacing-small;
        margin-top   : $spacing-small;
      }

    }

    //-- Top --//
    &-top{
      margin-top: $spacing-regular;

      &-l{
        margin-top: $spacing-large;
      }

      &-s{
        margin-top: $spacing-small;
      }

    }

    //-- Right --//
    &-right{
      margin-right: $spacing-regular;

      &-l{
        margin-right: $spacing-large;
      }

      &-s{
        margin-right: $spacing-small;
      }

    }

    //-- Bottom --//
    &-bottom{
      margin-bottom: $spacing-regular;

      &-l{
        margin-bottom: $spacing-large;
      }

      &-s{
        margin-bottom: $spacing-small;
      }

    }

    //-- Left --//
    &-left{
      margin-left: $spacing-regular;

      &-l{
        margin-left: $spacing-large;
      }

      &-s{
        margin-left: $spacing-small;
      }

    }

  }


//--------------//
//-- PADDINGS --//
//--------------//

  %padding{

    //-- Box --//
    &-box{
      padding: $spacing-regular;

      &-l{
        padding: $spacing-large;
      }

      &-s{
        padding: $spacing-small;
      }

    }

    //-- Horizontal --//
    &-x{
      padding-left : $spacing-regular;
      padding-right: $spacing-regular;

      &-l{
        padding-left : $spacing-large;
        padding-right: $spacing-large;
      }

      &-s{
        padding-left : $spacing-small;
        padding-right: $spacing-small;
      }

    }

    //-- Vertical --//
    &-y{
      padding-bottom: $spacing-regular;
      padding-top   : $spacing-regular;

      &-l{
        padding-bottom: $spacing-large;
        padding-top   : $spacing-large;
      }

      &-s{
        padding-bottom: $spacing-small;
        padding-top   : $spacing-small;
      }

    }

    //-- Top --//
    &-top{
      padding-top: $spacing-regular;

      &-l{
        padding-top: $spacing-large;
      }

      &-s{
        padding-top: $spacing-small;
      }

    }

    //-- Right --//
    &-right{
      padding-right: $spacing-regular;

      &-l{
        padding-right: $spacing-large;
      }

      &-s{
        padding-right: $spacing-small;
      }

    }

    //-- Bottom --//
    &-bottom{
      padding-bottom: $spacing-regular;

      &-l{
        padding-bottom: $spacing-large;
      }

      &-s{
        padding-bottom: $spacing-small;
      }

    }

    //-- Left --//
    &-left{
      padding-left: $spacing-regular;

      &-l{
        padding-left: $spacing-large;
      }

      &-s{
        padding-left: $spacing-small;
      }

    }

  }