/////////////
// MODNOTE //
/////////////

//----------//
//-- Wrap --//
//----------//
  #rmt__modnote.rmt-open .rmt-add:after{
    @include fa-pseudo($fa-var-times);
  }

  #rmt__modnote__options{

    .rmt__modnote__label{
      display      : block;
      font-weight  : $font-weight-bold;
      margin-bottom: $spacing-small / 2;
    }

    .rmt__modnote__optional{
      display: none;
    }

  }


//----------//
//-- Type --//
//----------//
  .rmt__modnote__type{
    @include clearfix;

    input[type="radio"]{
      display: none;

      &:checked + .rmt__modnote__type-label{
        background-color: $c-1;
        color           : $c-light;
      }

    }

  }

  //-- Labels --//
    .rmt__modnote__type-label{
      background-color: $c-pale;
      color           : $c-dark;
      cursor          : pointer;
      display         : block;
      float           : left;
      font-size       : inherit;
      font-weight     : $font-weight-bold;
      padding         : $spacing-small / 2;
      text-align      : center;
      transition      : background-color 300ms, color 300ms;
      width           : 50%;

      &:first-of-type{
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-of-type{
        border-radius: 0 $border-radius $border-radius 0;
      }

      &:hover,
      &:focus{
        background-color: darken($c-pale, $c-1-darken);
      }

    }

  //-- Thread Move --//
    #rmt__modnote__type-select--thread-move:checked{

      & ~ #rmt__modnote__thread-move-loc{
        display: block;
      }

    }

  //-- Other --//
    #rmt__modnote__type-select--other:checked{

      & ~ #rmt__modnote__preset-note{
        display: block;
      }

    }