///////////////////////
// REALMEYE MESSAGES //
///////////////////////

//------------//
//-- Target --//
//------------//
  #rmt__re_messages__target{
    background-color: $c-mid;
    border-radius   : $border-radius;
    color           : $c-light;
    display         : inline-block;
    font-weight     : $font-weight-bold;
    margin-left     : $spacing-small + rem(3);
    padding         : 0 rem(6);
    position        : relative;
    text-align      : center;
    text-shadow     : 0 rem(2) rem(4) rgba(0, 0, 0, 0.20);
    transition      : background-color 300ms, transform 300ms;
    vertical-align  : middle;

    &:before{
      @include position(absolute, rem(3) null null rem(-5));
      @include triangle(rem(15), $c-mid, left);
      content   : '';
      display   : block;
      transition: border-color 300ms;
    }

    &.rmt__re_messages--unread{
      @include animation(rmt__re_messages--unread 5s infinite);
      background-color: $c-1;

      &:before{
        @include triangle(rem(15), $c-1, left);
      }

    }

  }

  //-- Parent hover --//
  .rmt__opt-heading{

    &:hover,
    &:focus{

      & > #rmt__re_messages__target{
        background-color: $c-2;

        &:before{
          @include triangle(rem(15), $c-2, left);
        }

      }

    }

  }


//----------------//
//-- Animations --//
//----------------//
  @include keyframes(rmt__re_messages--unread){

    0%{
      transform: translateX(0);
    }

    10%{
      transform: translateX(0);
    }

    15%{
      transform: translateX(rem(10));
    }

    20%{
      transform: translateX(rem(-2));
    }

    25%{
      transform: translateX(0);
    }

    100%{
      transform: translateX(0);
    }

  }