/////////////
// OPTIONS //
/////////////

//---------------//
//-- Opts list --//
//---------------//
  #rmt__opt-list{
    margin : 0;
    padding: 0;

    & > li{
      list-style-type: none;
      padding        : $spacing-small $spacing-regular;

      & + li{
        border-top: rem(1) solid $c-pale;
      }

    }

  }


//----------------//
//-- Interaction --//
//----------------//
  //-- Headings --//
  .rmt__opt-heading{
    color      : $c-dark;
    cursor     : pointer;
    display    : block;
    font-size  : rem(16);
    font-weight: $font-weight-bold;
    position   : relative;
    transition : color 300ms;

    &:hover,
    &:focus{
      color: $c-1;

      & > .rmt-add{
        background-color: $c-2;
      }

    }

  }

  //-- Add button --//
    .rmt-add{
      background-color: $c-mid;
      border-radius   : 50%;
      color           : $c-light;
      display         : inline-block;
      height          : 1em;
      margin-left     : $spacing-small;
      position        : relative;
      text-align      : center;
      transform       : scale(1.1);
      transform-origin: center center;
      transition      : background-color 300ms;
      vertical-align  : text-top;
      width           : 1em;

      &:after{
        @include fa-pseudo($fa-var-plus);
        @include position(absolute, 50% 0 null 0);
        display    : inline-block;
        font-size  : 0.65em;
        font-weight: $font-weight-light;
        line-height: 1;
        transform  : translateY(-50%);
      }

      // Hover
      &:hover,
      &:focus{
        background-color: $c-2;
      }

    }

  //-- Display wrap --//
    .rmt-opt-display{

      &:before{
        border-top : rem(1) dashed $c-pale;
        content    : '';
        display    : block;
        margin-top : $spacing-small;
        padding-top: $spacing-small;
      }

    }


//-----------------//
//-- UI Messages --//
//-----------------//
  #rmt__msg{
    background-color: $c-pale;
    border-radius   : $border-radius;
    font-weight     : $font-weight-bold;
    margin          : $spacing-small $spacing-regular 0;
    padding         : ($spacing-small / 2) $spacing-small;

    &.rmt-msg--error{
      background-color: $c-error;
      color           : $c-light;
    }

    &.rmt-msg--success{
      background-color: $c-success;
      color           : $c-light;
    }

    &.rmt-msg--alert{
      background-color: $c-alert;
      color           : $c-light;
    }

    &.rmt-msg--info{
      background-color: $c-info;
      color           : $c-light;
    }

  }