//////////
// WRAP //
//////////

//---------------//
//-- Main wrap --//
//---------------//
  #rmt__wrap{
    @include position(fixed, null 0 0 null);
    background-color: $c-light;
    box-shadow      : 0 0 6px rgba(0, 0, 0, 0.1);
    color           : $c-dark;
    font-size       : rem(14);
    padding         : 0;
    width           : $main-wrap-width;
    z-index         : 1050;

    //-- Utility & reset --//
    &,
    *,
    *:before,
    *:after{
      box-sizing: border-box;
    }

    a{
      color     : $c-1;
      transition: color 300ms;

      &:hover,
      &:focus{
        color: darken($c-1, $c-1-darken);
      }

    }

    input[type="text"],
    select,
    textarea{
      border-radius: $border-radius;
      box-shadow   : none;
      display      : block;
      font-size    : inherit;
      padding      : ($spacing-small / 2) $spacing-small;
      width        : 100%;
    }

    input[type="text"],
    select{
      height: rem(42);
    }

    select{
      appearance         : none;
      background-image   : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAMAAABR24SMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////SU9YONjvPQAAAB5JREFUeNpiYMACGGEAicUAZ0CZcKVwXQw4AECAAQAINAAjp2kYowAAAABJRU5ErkJggg==);
      background-position: right (($spacing-regular / 2) - rem(5)) center;
      background-repeat  : no-repeat;
      line-height        : 1;
      padding-right      : $spacing-regular;
    }

    textarea{
      height: rem(120);
    }

    button,
    .button{
      background-color: $c-2;
      border          : 0;
      border-radius   : $border-radius;
      color           : $c-light;
      display         : block;
      font-size       : inherit;
      font-weight     : $font-weight-bold;
      letter-spacing  : 0.05em;
      padding         : ($spacing-small / 2) $spacing-small;
      text-align      : center;
      transition      : background-color 300ms;
      width           : 100%;

      &:hover,
      &:focus{
        background-color: darken($c-2, $c-1-darken);
        outline         : none;
      }

    }

  }


//--------------------//
//-- Toggle display --//
//--------------------//
  #rmt__display-toggle{
    background-color: $c-dark;
    color           : $c-light;
    cursor          : pointer;
    display         : block;
    font-size       : rem(18);
    padding         : $spacing-small $spacing-regular;
    text-align      : center;
    transition      : background-color 300ms;

    &:hover,
    &:focus{
      background-color: darken($c-dark, $c-1-darken);
    }

    &:before{
      content       : 'RealmEye Forum Mod Tools';
      font-weight   : $font-weight-bold;
      vertical-align: middle;
    }

    &:after{
      @include fa-pseudo($fa-var-caret-down);
      color           : $c-1;
      display         : inline-block;
      font-size       : 1.2em;
      margin-left     : $spacing-small;
      transform       : rotate(0deg);
      transform-origin: center center;
      transition      : transform 300ms;
      vertical-align  : middle;
    }

    &.rmt-hidden{

      &:after{
        transform: rotate(180deg);
      }

    }

  }