/////////////////////
// COLOR VARIABLES //
/////////////////////


//--------------------//
//    Basic Layout    //
//--------------------//
$c-dark    : #353535;
$c-light   : #FFF;
$c-pale    : #E5E5E5;
$c-mid     : #A4A6A9;
$c-black   : #000;


//---------------------//
//   Primary Element   //
//---------------------//
$c-1       : #0AADFF;
$c-1-alt   : #60A1C1;
$c-2       : #F67E42;


//---------------------//
//   Feedback Colours  //
//---------------------//
$c-error   : #DB4C5F;
$c-success : #5AAD71;
$c-alert   : #FF8C00;
$c-info    : #3B9DD6;



//----------------------//
// Adjustment Variables //
//----------------------//
$c-1-darken: 6%;