///////////
// FONTS //
///////////

//---------------------//
//    Font Families    //
//---------------------//


//---------------------//
//    Font Weights     //
//---------------------//
  $font-weight-bold   : 700;
  $font-weight-regular: 400;
  $font-weight-light  : 300;


//---------------------//
//   External Fonts    //
//---------------------//
  //@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);


//---------------------//
//   Internal Fonts    //
//---------------------//