////////////
// MIXINS //
////////////

@mixin fa-pseudo($icon-var){
  font-family: 'FontAwesome';
  content: $icon-var;
}

$rem-base: 16px !default;

@function contains($list,$var) {
  @return (false == index($list, $var));
}

// RANGES
@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

// TEXT INPUT TYPES
@function text-inputs( $types: all, $selector: input ) {
    $return: ();
    $all-text-input-types:
      text
      password
      date
      datetime
      datetime-local
      month
      week
      email
      number
      search
      tel
      time
      url
      color
      textarea;
    @if $types == all { $types: $all-text-input-types; }
    @each $type in $types {
        @if $type == textarea {
            @if $selector == input {
              $return: append($return, unquote('#{$type}'), comma)
            } @else {
              $return: append($return, unquote('#{$type}#{$selector}'), comma)
            }
        } @else {
            $return: append($return, unquote('#{$selector}[type="#{$type}"]'), comma)
        }
    }
    @return $return;
}


// STRIP UNIT
// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// CONVERT TO REM
@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function data($attr) {
  @if $namespace {
    @return '[data-' + $namespace + '-' + $attr + ']';
  }

  @return '[data-' + $attr + ']';
}

// REM CALC
@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

@mixin clearfix {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}


///////////
// TOOLS //
///////////

@mixin create-columns($prefix,$padding){
  $i: $column-count;
  #{$column-class}{
    padding-left: $padding;
    padding-right: $padding;
    @while $i > 0{
      &.#{$prefix}-#{$i}{
        $col-percentage: ((100% / $column-count) * $i);
        width: $col-percentage;
      }
      $i: $i - 1;
    }
  }
}

@mixin create-grid($prefix,$padding){
  #{$row-class}{
    @include create-columns($prefix,$padding);
  }
}
@mixin row-base{
  #{$row-class}{
    width: 100%;
    display: block;
    #{$column-class}{
      position: relative;
      float: left;
      box-sizing: border-box;
      &.left{
        float: left;
      }
      &.right{
        float: right;
      }
      &.centered{
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &.collapse{
      & > #{$column-class}{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
    &:after,
    &:before{
      content: '';
      display: table;
    }
    &:after{
      content: '';
      clear: both;
    }
  }
}

@mixin ec-prefix($prop, $val...){
  $prefixes: ("-webkit-", "-ms-", "-o-", "-moz-", "");
  @each $prefix in $prefixes {
    #{$prefix}#{$prop}: #{$val};
  }
}

@mixin ec-prefix-keyframes($name){
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin alt-grid($cols,$marginRel,$verticalMargin:false){
  content: '#{$cols}';
  min-height: #{$cols}px;
  width: 100%;
  font-size: 0;
  text-align: center;
  & > div{
    $postCalcMarginRel: ($marginRel / ($cols));
    $colWidth: ((100 / $cols) - ($marginRel) + $postCalcMarginRel);
    width: percentage(1-((100-$colWidth)/100));
    margin-right: (percentage(1-((100-$marginRel)/100)));
    @if $verticalMargin == true{
      margin-bottom: (percentage(1-((100-$marginRel)/100)));
    }
    display: inline-block;
    text-align: left;
    font-size: rem-calc(16);
    vertical-align: top;
    $alt-grid-i: 1;
    @while $alt-grid-i < 13{
      &:nth-child(#{$alt-grid-i}n + #{$alt-grid-i}){
        margin-right: (percentage(1-((100-$marginRel)/100)));
      }
      $alt-grid-i: $alt-grid-i + 1;
    }
    &:last-child,
    &:nth-child(#{$cols}n + #{$cols}){
      margin-right: 0;
    }
  }
}

@mixin image-replacement{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin gloss-gradient($max-opacity: 0.1){
background-image: none;
background-image: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 48%, rgba(255,255,255,$max-opacity) 48%, rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,0)), color-stop(48%,rgba(255,255,255,0)), color-stop(48%,rgba(255,255,255,$max-opacity)), color-stop(100%,rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,$max-opacity) 48%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,$max-opacity) 48%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,$max-opacity) 48%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 48%,rgba(255,255,255,$max-opacity) 48%,rgba(255,255,255,0) 100%);
}

@mixin dinosaur-please(){
  $num: random(3);
  @if $num == 1 {
/*
                                                        .--.__
                                                      .~ (@)  ~~~---_
                                                     {     `-_~,,,,,,)
                                                     {    (_  ',
                                                      ~    . = _',
                                                       ~-   '.  =-'
                                                         ~     :
      .                                             _,.-~     ('');
      '.                                         .-~        \  \ ;
        ':-_                                _.--~            \  \;      _-=,.
          ~-:-.__                       _.-~                 {  '---- _'-=,.
             ~-._~--._             __.-~                     ~---------=,.`
                 ~~-._~~-----~~~~~~       .+++~~~~~~~~-__   /
                      ~-.,____           {   -     +   }  _/
                              ~~-.______{_    _ -=\ / /_.~
                                   :      ~--~    // /         ..-
                                   :   / /      // /         ((
                                   :  / /      {   `-------,. ))
                                   :   /        ''=--------. }o
                      .=._________,'  )                     ))
                      )  _________ -''                     ~~
                     / /  _ _
                    (_.-.'O'-'.
*/
  }
  @if $num == 2 {
/*
                         .       .
                        / `.   .' \
                .---.  <    > <    >  .---.
                |    \  \ - ~ ~ - /  /    |
                 ~-..-~             ~-..-~
             \~~~\.'                    `./~~~/
              \__/                        \__/
               /                  .-    .  \
        _._ _.-    .-~ ~-.       /       }   \/~~~/
    _.-'q  }~     /       }     {        ;    \__/
   {'__,  /      (       /      {       /      `. ,~~|   .     .
    `''''='~~-.__(      /_      |      /- _      `..-'   \\   //
                / \   =/  ~~--~~{    ./|    ~-.     `-..__\\_//_.-'
               {   \  +\         \  =\ (        ~ - . _ _ _..---~
               |  | {   }         \   \_\
              '---.o___,'       .o___,'
*/
  }
  @if $num == 3 {
/*
     _
   .~q`,
  {__,  \
      \' \
       \  \
        \  \
         \  `._            __.__
          \    ~-._  _.==~~     ~~--.._
           \        '                  ~-.
            \      _-   -_                `.
             \    /       }        .-    .  \
              `. |      /  }      (       ;  \
                `|     /  /       (       :   '\
                 \    |  /        |      /       \
                  |     /`-.______.\     |^-.      \
                  |   |/           (     |   `.      \_
                  |   ||            ~\   \      '._    `-.._____..----..___
                  |   |/             _\   \         ~-.__________.-~~~~~~~~~'''
                .o'___/            .o______}
*/
  }
}