//////////////
// SETTINGS //
//////////////


//--------------------//
//        Core        //
//--------------------//
  $rem-base          : 16px;
  $max-width         : rem(1280);
  $main-wrap-width   : rem(400);
  $border-radius     : rem(4);


//--------------------//
//    Media Queries   //
//--------------------//
  $medium-screen     : 640px;
  $large-screen      : 1024px;
  $xlarge-screen     : 1280px;

  $medium-screen-up  : new-breakpoint(min-width ($medium-screen + 1) 12);
  $large-screen-up   : new-breakpoint(min-width ($large-screen + 1) 12);
  $xlarge-screen-up  : new-breakpoint(min-width ($xlarge-screen + 1) 12);

  $small-screen-only : new-breakpoint(max-width ($medium-screen) 12);
  $medium-screen-only: new-breakpoint(min-width ($medium-screen + 1) max-width ($large-screen) 12);
  $large-screen-only : new-breakpoint(min-width ($large-screen + 1) max-width ($xlarge-screen) 12);

  $touch-screen      : new-breakpoint(max-width $large-screen 12);


//--------------------//
//       Spacing      //
//--------------------//
  $spacing-large     : $gutter * 2;
  $spacing-regular   : $gutter;
  $spacing-small     : $gutter / 2;